html {
  font-size: 10px;
  font-family: "Open Sans", Gadget, sans-serif;
  background-color: rgb(50, 50, 70);
}

h1 {
  font-size: 60px;
  text-align: center;
  padding: 0px;
  color: rgb(255, 186, 226);
}

p {
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.border-gradient {
  border-image-slice: 1;
  border-width: 2px;
}

input {
  -webkit-appearance: value;
  display: block;
  margin: 10px auto;
  background-color: transparent;
  color: rgb(255, 186, 226);
  border-radius: 5px;
  border-width: 5px;
  border-image: linear-gradient(35deg, rgb(107, 220, 254) 40%, rgb(255, 186, 226) 90%);
}

label {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

#boardDiv {
  display: block;
  padding: 10px;
}

button {
  display: block;
  background: linear-gradient(35deg, rgb(107, 220, 254) 40%, rgb(255, 186, 226) 90%);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
}

.box {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: 19px;
  height: 19px;
  margin: 0px;
  display: inline-block;
  background-color: rgb(107, 220, 254);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
}
#board {
  display: grid;
  position: relative;
  z-index: 10;
  justify-content: center;
  grid-gap: 1px;

}
.revealed {
  background-color: rgba(0,0,0,0);
}
.flagged {
  border-left: 9px inset transparent;
  border-right: 9px inset transparent;
  border-bottom: 18px inset rgb(107, 220, 254);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}
.revealedMine {
  border-radius: 9px;
  background-color: rgb(107, 220, 254);
}
.mine {
}
.bufferBox {
  position: absolute;
  z-index: -1;
  background-color: rgba(0,0,0,0);
  height: 19px;
  width: 19px;
}
#runAwayText {
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
